.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# node stuff
node_modules/ 

# dev stuff
dev

# build stuff
Archive/
Product/